<!--插入排序：从第二位起 与左边进行比较 插入到最适合的位置 循环次数为n-1-->
<!--极端情况： 1.非数字 2.仅两个或者小于两个-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插入排序</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <label>请输入需要排序的数字:<input v-model="importValue"></label>
    <button @click="insertSort()">插入排序</button>
    <div v-if="sortValue">排序后为:{{ sortValue }}</div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            importValue: '',
            sortValue: null
        },
        methods: {
            insertSort: function () {
                var re =  /^[0-9]+.?[0-9]*$/
                var arr = this.importValue.split('')
                // 判断是否全为数字
                if (arr.findIndex((item) => { return !re.test(item) }) > -1) {
                    alert('请输入数字')
                    return
                }
                // 第一个和第二个交换位置
                // 循环n-1次
                for(var i = 1; i < arr.length; i++) {
                    // 和左边的值进行比较
                    for(var j = 0; j < i; j++) {
                        // 如果arr[i] > arr[j]
                        // 如果i <且 i+1>
                        if (arr[j] > arr[i]) {
                            var temp = arr[i]
                            arr[i] = ''
                            for(var k = i-1; k >= j; k--) {
                                arr[k+1] = arr[k]
                            }
                            arr[j] = temp
                        }
                    }
                }
                this.sortValue = arr.join('')
            }
        }
    })
</script>
</body>
</html>